<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Electro - HTML Ecommerce Template</title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="css/font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="css/style.css"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

    </head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i> +039-42-73-773</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> hary.ken223@email.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> 441/21 Le Van Luong Road</a></li>
					</ul>
					<ul class="header-links pull-right">
						<li><a href="/account"><i class="fa fa-user-o"></i> My Account</a></li>
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="./img/logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form method="post" action="/thukho">
									<select class="input-select" name="type">
										<option value="1">Product's ID</option>
										<option value="0">Customer's phone</option>
									</select>
									<input class="input" placeholder="Search here" name="val" style="width: 200px" required>
									<button class="search-btn" type="submit" name="submit" value="searchbar">Search</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<a href="/Cart">Your Cart</a>
									</a>

								</div>
								<!-- /Cart -->
								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li><a href="/home">Home</a></li>
						<li><a href="/category">Categories</a></li>
						<li><a href="/laptops">Laptops</a></li>
						<li><a href="/smartphones">Smartphones</a></li>
						<li><a href="/cameras">Cameras</a></li>
						<li><a href="/accessories">Accessories</a></li>
						<li><a href="/productmanagerment ">Add product</a></li>
						<li class="nav-item dropdown">
								<a id="a" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><span>Account management</span></a>
							<div  class="dropdown-menu">
									<a href="/accountmanagement"><span>List of account</span></a><br>
									<a href="/create"><span>Create new account</span></a>
							</div>
						</li>
						<li class="nav-item dropdown">
								<a id="a" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><span>Orders</span></a>
							<div  class="dropdown-menu">
									<a href="/oders"><span>Customer orders</span></a><br>
									<a href="/spoders"><span>Supplier orders</span></a>
							</div>
						</li>
						<li class="nav-item dropdown">
								<a id="a" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><span>My account</span></a>
							<div  class="dropdown-menu">
									<a href="/logout"><span>Logout</span></a><br>
									<a href="/account"><span>Personal Information</span></a>
							</div>
						</li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		  <%- body %>

			<!-- FOOTER -->
			<footer id="footer">
				<!-- top footer -->
				<div class="section">
					<!-- container -->
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<div class="footer">
									<h3 class="footer-title">About Us</h3>
									<ul class="footer-links">
										<li><a href="#"><i class="fa fa-map-marker"></i>441/21 Le Van Luong Road</a></li>
										<li><a href="#"><i class="fa fa-phone"></i>+039-42-73-773</a></li>
										<li><a href="#"><i class="fa fa-envelope-o"></i>hary.ken223@email.com</a></li>
									</ul>
								</div>
							</div>

							<div class="col-md-3 col-xs-6">
								<div class="footer">
									<h3 class="footer-title">Categories</h3>
									<ul class="footer-links">
										<li><a href="/nhanvienlaptops">Laptops</a></li>
										<li><a href="/nhanviensmartphones">Smartphones</a></li>
										<li><a href="/nhanviencameras">Cameras</a></li>
										<li><a href="/nhanvienaccessories">Accessories</a></li>
									</ul>
								</div>
							</div>

							<div class="clearfix visible-xs"></div>
						</div>
						<!-- /row -->
					</div>
					<!-- /container -->
				</div>
				<!-- /top footer -->
				<!-- bottom footer -->
				<div id="bottom-footer" class="section">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-md-12 text-center">
								<span class="copyright">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
									Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.facebook.com/hary.ken.1555/" target="_blank">DuyLinh</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</span>
							</div>
						</div>
							<!-- /row -->
					</div>
					<!-- /container -->
				</div>
				<!-- /bottom footer -->
			</footer>
			<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>
